html {}

body {
    background-color: #7e7e7d;
}

.body-container {
    width: 1440px;
    margin: 0 auto;
    align-items: center;

}

.header {
    /* width: 1440px; */
    height: 90px;
    display: flex;
    /* justify-content:stretch; */
    /* flex-wrap:nowrap; */
    align-items: center;
    background: #0C0C0E;
}

.header-column1 {
    width: 50%;
}

.header-column2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 20px;
    font-family: 'Forum', cursive;
    color: #FFFFFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav-list {
    margin: 0;
    padding: 20px;
    display: flex;
    /* justify-content: flex-start; */
    /* display: inline-flex; */
    align-items: flex-start;
    gap: 30px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 250% */
    color: #FFFFFF;
    list-style-type: none;
}

.icon_profile {
    width: 28px;
    height: 28px;
    margin: 20px;
    display: inline-block;
    flex-shrink: 0;
    background-image: url(assets/svg/icon_profile.svg);
}

.welcome {
    height: 600px;
    position: relative;
    background-image: url(assets/img/welcome.jpg);
    background-position: center center;
    background-size: cover;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),  lightgray 50% / cover no-repeat; */
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(assets/img/welcome.jpg), lightgray 50% / cover no-repeat; */
}

.layer-gradient {
    height: 50%;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-text {
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    margin: 0;
    position: absolute;
    top: 220px;
    background-color: #0C0C0E;
    color: #FFFFFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}