html {
    scroll-behavior: smooth;
}

body {
    background-color: #7e7e7d;
}

.body-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background: #FFFFFF;
}

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0C0C0E;
}

.header-column2 {
    display: flex;
    align-items: center;
}

.title {
    margin: 20px;
    font-family: 'Forum', cursive;
    color: #FFFFFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav-list {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    color: #FFFFFF;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link:hover {
    color: #BB945F;
    transition: 0.3s;
}

.icon_profile {
    width: 28px;
    height: 28px;
    margin: 0 20px 0 40px;
    display: inline-block;
    flex-shrink: 0;
    background-image: url(assets/svg/icon_profile.svg);
}

.icon_profile:hover {
    cursor: pointer;
}

.welcome {
    height: 600px;
    position: relative;
    background-image: url(assets/img/welcome.jpg);
    background-position: center center;
    background-size: cover;
}

.layer-gradient {
    height: 50%;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-text {
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    margin: 0;
    position: absolute;
    top: 220px;
    background-color: #0C0C0E;
    color: #FFFFFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section>* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line {
    width: 50px;
    height: 1px;
    border-width: 0;
    margin-bottom: 20px;
    background: #0C0C0E;
}

.text-margin {
    margin: 20px 20px 20px 18px;
}

.content-text {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.line-height40 {
    line-height: 40px;
}

.line-height24 {
    line-height: 24px;
}

.padding-top20 {
    padding-top: 20px;
}

.bold {
    margin: 0;
    font-weight: 700;
}

.gallery {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.picture {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin: 0;
    object-fit: cover;
}

.pagination {
    height: 26px;
    margin-top: 35px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
}

.pag-item {
    padding: 5px;
    margin: 0;
    flex-shrink: 0;
}

.pag-circle {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.pag-item.active .pag-circle {
    background-color: #BB945F;
}

.pag-item:hover {
    cursor: pointer;
    background-color: rgba(18, 18, 21, 0.10);
    border-radius: 15%;
    transition: 0.2s;
}

.container-favorites {
    padding: 20px 20px 0 20px;
    text-align: left;
}

.radio-seasons {
    max-width: 700px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-btn-style {
    display: inline-block;
    background-image: url(./assets/svg/radiobtn_inactive.svg);
    position: relative;
    width: 17px;
    height: 17px;
    top: 3px;
    margin-right: 15px;
}

.radio-btn:checked+.radio-btn-style {
    background-image: url(./assets/svg/radiobtn_active.svg);
}

.radio-btn-area:hover {
    cursor: pointer;
    background-color: rgba(18, 18, 21, 0.10);
    border-radius: 15%;
    transition: 0.2s;
}

.books-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book {
    width: 590px;
    height: 555px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.book * {
    box-sizing: border-box;
}

.book-frame {
    width: 550px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0 14px 19px;
    border: 1px solid #000000;
}

.book-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sp-text {
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
    margin: 0;
}

.sp-line {
    width: 60px;
    height: 1px;
    border-width: 0;
    background: #BB945F;
    margin: 0;
}

.book-title {
    margin: 20px 0 0 0;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.book-author {
    margin: 0;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.book-plot {
    width: 357px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
    margin: 20px 0 14px 0;
}

.button-buy {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #0C0C0E;
    background-color: #FFFFFF;
}

.button-buy:hover {
    border-color: #BB945F;
    background: #BB945F;
    cursor: pointer;
    transition: 0.3s;
}

.button-own {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #BB945F;
    background-color: #FFFFFF;
}

.coffee-shop-text {
    width: 100%;
    letter-spacing: 2px;
}

.section-container {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-coffee-tea {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}

.menu-desserts-cakes {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 40px;
}

.menu-title {
    margin: 0;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #BB945F;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 59px;
    flex-grow: 1;
}

.menu-text {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.menu-text-column1 {
    width: 199px;
    text-align: left;
}

.menu-text-column2 {
    width: 212px;
    text-align: right;
}

.menu-line {
    width: 100px;
    height: 1px;
    border-width: 0;
    background: #BB945F;
    margin: 0;
}

.contact-inf {
    margin-bottom: 40px;
}

.text-in-contacts {
    margin: 20px 0 20px 0;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.text-in-contacts-bold {
    margin: 0;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
}

.contact-link {
    text-decoration: none;
    color: #000000;
}

.map {
    width: 696px;
    height: 414px;
    background-image: url(./assets/img/map.jpg);
    background-size: cover;
    align-content: center;
    margin-bottom: 40px;
}

.library-cards {
    display: flex;
    justify-content: space-between;
}

.lib-card-title {
    font-family: Inter;
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    letter-spacing: 0.6px;
    color: #000000;
}

.lib-card-form {
    position: relative;
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.lib-card-bg {
    display: flex;
    flex-direction: column;
    width: 520px;
    padding: 20px 20px 25px 20px;
    margin: 17px 20px 94px 17px;
    background-color: #BB945F;
    justify-content: space-between;
}

.lib-card-subtitle {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
    margin: 0;
    letter-spacing: .6px;
    color: #000000;
}

.lib-card_input {
    padding: 8px 20px;
    width: 480px;
    border-width: 0;
    border-radius: 10px;
    color: #8E8E8E;
    font-family: Forum;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.lib-card_input+.lib-card_input {
    margin-top: 25px;
}

.lib-card_button-check {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #0C0C0E;
    background-color: #FFFFFF;

    position: absolute;
    bottom: 28px;
    left: 176px;
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.lib-card_button-check:hover {
    border-color: #BB945F;
    background: #BB945F;
    cursor: pointer;
    transition: 0.3s;
}

.lib-card-login {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 456px;
    gap: 35px 0;
    margin-bottom: 30px;
}

.login-title {
    margin: 0;
    font-family: Forum;
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
}

.login-info {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.4px;
    color: #000000;
}

.login-buttons-container {
    display: flex;
    gap: 0 20px;
}

.footer {
    height: 250px;
    padding: 0 20px;
    margin-top: 11px;
    box-sizing: border-box;
    background-color: #0C0C0E;
}

.footer-container1 {
    display: flex;
    justify-content:space-between;
}

.footer-address {
    max-width: 223px;
    padding: 20px 0 18px;
    margin: 0;
    font-family: Inter;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    align-items: start;
    padding: 0;
    margin: 0;
    gap: 0 15px;
    list-style-type: none;
}

.footer-icon-img {
    width: 24px;
    height: 24px;
}

.footer-schedule {
    padding: 20px 0 19px;
}

.footer-schedule-text {
    margin: 0 0 10px 0;
    font-family: Inter;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
}
.footer-line {
    width: 100%;
    margin: 0 auto 25px auto;
    height: 1px;
    border-width: 0;
    background: #FFFFFF
}

.footer-container2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.footer-rss-text {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFFFFF;
}

/* ---------------adaptive----------------- */

.burger-menu {
    width: 45px;
    height: 24px;
    margin: 0 20px 0 20px;
    display: none;
    flex-shrink: 0;
    background-image: url(assets/svg/burger.svg);
    background-repeat: no-repeat;
}

.picture1 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin: 0;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carret-left {
    width: 24px;
    height: 24px;
    margin: 40px 0 0 25px;
    flex-shrink: 0;
    background-image: url(assets/svg/carret_left.svg);
    display: none;
}

.carret-right {
    width: 24px;
    height: 24px;
    margin: 40px 25px 0 0;
    flex-shrink: 0;
    background-image: url(assets/svg/carret_right.svg);
    display: none;
}

.pag-item:nth-child(even) {
    display: none;
}

@media (max-width: 1390px) {
    .picture:last-child {
        display: none;
    }
    .gallery {
        justify-content: space-around;
    }
}

@media (max-width: 1260px) {
    .section-container {
        justify-content: center;
    }
    .books-wrapper {
        justify-content: center;
    }
    .pagination {
        margin-top: 20px;
    }
    .contact-inf {
        margin-bottom: 83px;
        width: 100%;
    }
    .lib-card-login {
        align-items: center;
        max-width: 600px;
    }
    .login-info {
        text-align: center;
    }
    .login-buttons-container {
        margin-top: 5px;
}

@media (max-width: 1070px) {
    .nav-list {
        display: none;
    }
    .burger-menu {
        display: inline-block;
    }
    .gallery {
        justify-content: center;
    }
    .picture {
        display: none;
    }
    .picture1 {
        width: 100%;
    }
    .carret-left {
        display: block;
    }
    .carret-right {
        display: block;
    }
    .pag-item:nth-child(even) {
        display: block;
    }
}