body {
    background-color: #7e7e7d;
}

.body-container {
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    background: #FFFFFF;
}

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0C0C0E;
}

.header-column1 {}

.header-column2 {
    display: flex;
    align-items: center;
}

.title {
    margin: 20px;
    font-family: 'Forum', cursive;
    color: #FFFFFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav-list {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    color: #FFFFFF;
    list-style-type: none;
}

.nav-item:hover {
    color: #BB945F;
    cursor: pointer;
}

.icon_profile {
    width: 28px;
    height: 28px;
    margin: 0 20px 0 40px;
    display: inline-block;
    flex-shrink: 0;
    background-image: url(assets/svg/icon_profile.svg);
}

.welcome {
    height: 600px;
    position: relative;
    background-image: url(assets/img/welcome.jpg);
    background-position: center center;
    background-size: cover;
}

.layer-gradient {
    height: 50%;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-text {
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    margin: 0;
    position: absolute;
    top: 220px;
    background-color: #0C0C0E;
    color: #FFFFFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about>* {
    margin: 20px auto;
    text-align: center;
}

.section-titels {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line {
    width: 50px;
    height: 1px;
    margin-bottom: 40px;
    background: #0C0C0E;
}

.content-text {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.picture {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin: 0;
    object-fit:cover;
}

.pagination {
    width: 78px;
    height: 26px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.pag-item {
    padding: 5px;
    margin: 0;
    flex-shrink: 0;
}

.pag-circle {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.pag-item.active .pag-circle {
    background-color: #BB945F;
}

.pag-item:hover {
    cursor: pointer;
    background-color: rgba(18, 18, 21, 0.10);
    border-radius: 15%;
    transition: 0.2s;
}